<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Refund Application</title>
    <link rel="stylesheet" type="text/css" href="new-post-button.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="shortcut icon" href="#" />
</head>
<body> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
<body>
        <button type="button" class="btn" id="new-Post" (click)="newPost()">+ Create Post</button>
    <div class="form-popup" id="myForm">
        <form class="form-container" (ngSubmit)="onsubmit(Post)" #Post="ngForm">
                <h1 class="newPost"> New Post</h1>
            <br>
            <label for="title">
                Title of Post:
                <br>
                <input id="title" type="text"  name="title" placeholder="Title" #title ngModel>
            </label><br>    
            <label for="postImage">
                Upload Picture Link:
                <br>
                <input type="text" id="postImage" #image ngModel>
                <!-- <img id="postImage" type="file"  name="postImage"> -->
            </label><br>
            <label for="review">
                Review:
                <input id="review" type="text"  name="review" maxlength="150" placeholder="Max-Length 150" #review ngModel>
            </label>
            <br>
            <label for="recommend">Recommend:</label>
            <input type="checkbox" id="recommend" value="false" #recommend ngModel>
            <br>
            <label class="rating" id= "rating" for="stars">Rating:</label>
            <br>
            <div class="stars" name="stars">
                  <input class="star star-5 form-control" id="5" type="radio" name="star" value="5" [(ngModel)]="stars.value"/>
                  <label class="star star-5" for="5"></label>
                  <input class="star star-4 form-control" id="4" type="radio" name="star" value="4" [(ngModel)]="stars.value"/>
                  <label class="star star-4" for="4"></label>
                  <input class="star star-3 form-control" id="3" type="radio" name="star" value="3" [(ngModel)]="stars.value"/>
                  <label class="star star-3" for="3"></label>
                  <input class="star star-2 form-control" id="2" type="radio" name="star" value="2" [(ngModel)]="stars.value"/>
                  <label class="star star-2" for="2"></label>
                  <input class="star star-1 form-control" id="1" type="radio" name="star" value="1" [(ngModel)]="stars.value"/>
                  <label class="star star-1" for="1"></label>
              </div>   
            <br>
            <button type="submit" id="btn" class="btn btn-primary"
                (click)="addPost({title: title.value, body: review.value, image_url: image.value,
                 recommend_rest: recommend.checked, rating: stars.value})">
                Post
            </button>
            
            <button type="button" class="btn cancel" (click)="cancel()">Cancel</button>
    </form>
    </div>
</body>
</html>