<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>New Post</title>
    <link rel="stylesheet" type="text/css" href="post-form.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <link rel="shortcut icon" href="#" />
</head>
<body> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
<body>
    <form action="employeereimbursement" method="post" id='postForm'>
        <center>
            <h1> New Post</h1>
        </center>
        <br>
        <nav>
            <ul>
                <li>
                    <a href=welcomeEmp.html>Previous Page</a>
                </li>
                <li>
                    <a href=login.html onclick="logout()">Log out</a>
                </li>
            </ul>
        </nav><center>
        <label for="title">
            Title of Post:
            <br>
            <input id="title" type="text"  name="title" placeholder="Title">
        </label><br>    
        <label for="postImage">
            Upload Photo:
            <br>
            <input accept="image/*" type="file" id="postImage" />
            <!-- <img id="postImage" type="file"  name="postImage"> -->
        </label><br>
        <label for="review">
            Review:
            <input id="review" type="text"  name="review" maxlength="150" placeholder="Max-Length 150">
        </label><br>
        <label for="restName">
            Restaurant Name:</label>
            <select name="restName" id="restName">
                <option value = "0" > Select Option
                </option>
                <option value = "1" > Popeyes
                </option>
                <option value = "2" > Bk Training
                </option>
                <option value = "3" > Mcdonalds Courses
                </option>
                <option value = "4" > Rudy's Preparation Classes
                </option>
                <option value = "5"> Jack
                </option>
                <option value = "6" > Other
                </option>
            </select>
        <br>
        <label for="recommend">Recommend:</label>
        <input type="checkbox" id="recommend" value="true">
        <br>
        <label class="rating" id= "rating" for="stars">Rating:</label>
        <br>
        <div class="stars">
              <input class="star star-5" id="star5" type="radio" name="star"/>
              <label class="star star-5" for="star5"></label>
              <input class="star star-4" id="star4" type="radio" name="star"/>
              <label class="star star-4" for="star4"></label>
              <input class="star star-3" id="star3" type="radio" name="star"/>
              <label class="star star-3" for="star3"></label>
              <input class="star star-2" id="star2" type="radio" name="star"/>
              <label class="star star-2" for="star2"></label>
              <input class="star star-1" id="star1" type="radio" name="star"/>
              <label class="star star-1" for="star1"></label>
          </div>   
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <button type="submit" class="btn btn-sm btn-primary">Submit</button> -->
</center>
</form>
</body>
</html>

<div class="container">
    <router-outlet></router-outlet>
</div>