<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/post">FoodGram</a>
        <ul class="navbar-nav ml-auto mb-2 mb-md-0 navlist">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/post">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Logout</a>
          </li>
        </ul>
    </div>
  </nav>