<div class="container-fluid login-body ">
<div class="login-wrapper">
    <div class="card shadow-lg bg-white rounded">
        <div class="card-body ">
        <form class="form-signin" (ngSubmit)="onsubmit(signInForm)" #signInForm="ngForm">
            <h1 style="text-align: center;">Foodgram</h1>
            <img class="mb-4 restLikes" src="assets/images/restaurantlikes.png" alt="">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" ngModel>
                <label for="floatingInput">Email address<span style="color:#ff0000">*</span></label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" ngModel>
                <label for="floatingPassword">Password<span style="color:#ff0000">*</span></label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <br>
            <br>
            <button class="btn btn-link createAccount" (click)="newUser()">Create Account</button>
        </form>
        </div>
    </div>
</div>

