.login-wrapper{
    margin: auto;
    width: 30rem;
    height: 1px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.login-body{
    background: linear-gradient(to top, #f0f2f0, #000c40);
    height: 1000px;
}
.createAccount{
    float: right;
}
.restLikes{
    width: 28rem;
}
h1{
    text-align: center;
}
