<button type="button" class="btn" id="new-Post" (click)="newComment()">Add Comment</button>


<div class="comment-popup" id="commentForm">
    <form>
        <label for="title" >
            Title:
            <br>
            <input type="text"  name="title" id="title" #title>
        </label> 
        <label for="body">
            Comment:
            <br>
            <input type="text" name="body" id="body" #body>
        </label>
        <br>
        <button type="button" class="btn-submit"
        (click)="addComment({comment_header: title.value, comment_body: body.value})">
        </button>
        <br>
        <button type="button" class="cancel" (click)="cancel()">Cancel</button>
    </form>
</div>