.registration-body{
    
    background: linear-gradient(to top, #f0f2f0, #000c40);
    width: auto;
    height: 57em;
}
.cancel{
    margin-left: 10px;
}
.formControl{
    position: relative;
    top: 100px;
    width: 700px;
}
.btn{
    width: 30%;
    margin-left: 80px;
}
