<h3>Welcome!</h3>
<h4>Please follow the steps below to create an account:</h4>
<div>
    Please Enter a Username:
    <input type="text" id="username">
    <br>
    Please Enter Your E-mail:
    <input type="email" id="email">
    <br>
    Please Make a Password:
    <input type="text" id = "password">
    <br>
    Please Enter Your First Name:
    <input type="text" id="fName">
    <br>
    Please Enter Your Last Name:
    <input type="text" id="lName">
    <br>
    <input type="button" id="accountCreate">
</div>