<div class="registration-body container-fluid">
        <div class="form-control shadow-lg p-3 mb-5 bg-body rounded form-popup container formControl" id="myNewUserForm">
                <h1>Welcome!</h1>
                <h4>Please follow the steps below to create an account:</h4>

            <form class="form-group" #NewUser="ngForm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" #username>
                    <label for="username">Please Enter a Username<span style="color:#ff0000">*</span></label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" #email>
                    <label for="email">Please Enter Your E-mail<span style="color:#ff0000">*</span></label> 
                </div>
        
        

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id = "password" #password>
            <label for="password"> Please Make a Password<span style="color:#ff0000">*</span></label>
        </div>
   
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fName" #firstName>
            <label for="fName">Please Enter Your First Name<span style="color:#ff0000">*</span></label>
        </div>
    
        <div class="form-floating mb-3">
            
            <input type="text" class="form-control" id="lName" #lastName>
            <label for="lName">Please Enter Your Last Name<span style="color:#ff0000">*</span></label>
        </div>

        <button type="button" class="btn  btn-md  btn-primary" id="accountCreate" (click)="addUser({username: username.value, email: email.value, password: password.value,
            firstname: firstName.value, lastname: lastName.value})">Sign Up</button>
        <button type="button" class="btn  btn-md  btn-danger cancel" (click)="cancel()">Cancel</button>
        </form>
    </div>

