body{ 
   background-color: rgb(40, 4, 65);
}
.header{
    text-align: center;
    background-color: white;
}
.post-button{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(40, 4, 65);

}
.container{
    width: 50%;
    background-color: silver;

}
.card{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title{
    align-content: center;
}
.image{
    height: 400px;
    width: 100%;
}
