body{ 
    background: linear-gradient(to top, #f0f2f0, #000c40b9);
    height: auto;
}
.header{
    text-align: center;
}
.post-button{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: none;

}
.container{
    width: 50%;
    /* background-color: silver; */

}
.card{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(29, 58, 82, 0.274);
    
}
.title{
    align-content: center;
}
.image{
    height: 400px;
    width: 100%;
}

.comment-popup{
    width: auto;
    height: auto;
    display: none;
    position: fixed;
    bottom: 300px;
    right: 500px;
    box-shadow: rgb(3, 3, 3);
    z-index: 9;
    color: white;
    background-color: rgba(44, 43, 43, 0.836);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
button.btn{
    background-color: rgb(93, 99, 102);
    color: white;
    
}

button.btn-submit{
    color:white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    border-style: none;
    
}

button.cancel{
    color: white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    border-style: none;
    border-top: 10px;
}
