body{ 
    background: white !important;
    height: auto;
}
.header{
    text-align: center;
}
.post-button{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: none;
    margin-bottom: 10px;
    margin-right: 10px;

}
.container{
    width: 50%;
}
.card{
    align-items: right;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(29, 58, 82, 0.274);
    padding-left: 10px;
    padding-right: 10px;
    
}
.title{
    text-align: center;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rating:hover{
    transition: all .2s;
    color: #FE7;
    text-shadow: 0 0 20px rgb(153, 145, 34);
}
.image{
    height: 400px;
    width: 100%;
}

.comment-popup{
    width: auto;
    height: auto;
    display: none;
    position: fixed;
    bottom: 300px;
    right: 500px;
    box-shadow: rgb(3, 3, 3);
    z-index: 9;
    color: white;
    background-color: rgba(189, 149, 149, 0.836);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
button.btn{
    background-color: rgb(93, 99, 102);
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

button.btn-submit{
    color:white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    border-style: none;
    margin-bottom: 5px;
}

button.cancel{
    color: white;
    border-radius: 8px;
    background-color: rgb(14, 159, 226);
    border-style: none;
    border-top: 10px;
}
